@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    :root {
  --background: 20 5.8824% 90%;
  --foreground: 217.2414 32.5843% 17.4510%;
  --card: 60 4.7619% 95.8824%;
  --card-foreground: 217.2414 32.5843% 17.4510%;
  --popover: 60 4.7619% 95.8824%;
  --popover-foreground: 217.2414 32.5843% 17.4510%;
  --primary: 183.0380 65.2893% 23.7255%;
  --primary-foreground: 0 0% 100%;
  --secondary: 24.0000 5.7471% 82.9412%;
  --secondary-foreground: 215 13.7931% 34.1176%;
  --muted: 20 5.8824% 90%;
  --muted-foreground: 220 8.9362% 46.0784%;
  --accent: 292.5000 44.4444% 92.9412%;
  --accent-foreground: 216.9231 19.1176% 26.6667%;
  --destructive: 0 84.2365% 60.1961%;
  --destructive-foreground: 0 0% 100%;
  --border: 24.0000 5.7471% 82.9412%;
  --input: 24.0000 5.7471% 82.9412%;
  --ring: 238.7324 83.5294% 66.6667%;
  --chart-1: 238.7324 83.5294% 66.6667%;
  --chart-2: 243.3962 75.3555% 58.6275%;
  --chart-3: 244.5205 57.9365% 50.5882%;
  --chart-4: 243.6522 54.5024% 41.3725%;
  --chart-5: 242.1687 47.4286% 34.3137%;
  --sidebar: 24.0000 5.7471% 82.9412%;
  --sidebar-foreground: 217.2414 32.5843% 17.4510%;
  --sidebar-primary: 238.7324 83.5294% 66.6667%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 292.5000 44.4444% 92.9412%;
  --sidebar-accent-foreground: 216.9231 19.1176% 26.6667%;
  --sidebar-border: 24.0000 5.7471% 82.9412%;
  --sidebar-ring: 238.7324 83.5294% 66.6667%;
  --font-sans: Plus Jakarta Sans, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Roboto Mono, monospace;
  --radius: 0.625rem;
  --shadow-x: 0px;
  --shadow-y: 1.5px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: hsl(240 4% 60%);
  --shadow-2xs: 0px 1.5px 3px 0px hsl(240 4% 60% / 0.05);
  --shadow-xs: 0px 1.5px 3px 0px hsl(240 4% 60% / 0.05);
  --shadow-sm: 0px 1.5px 3px 0px hsl(240 4% 60% / 0.10), 0px 1px 2px -1px hsl(240 4% 60% / 0.10);
  --shadow: 0px 1.5px 3px 0px hsl(240 4% 60% / 0.10), 0px 1px 2px -1px hsl(240 4% 60% / 0.10);
  --shadow-md: 0px 1.5px 3px 0px hsl(240 4% 60% / 0.10), 0px 2px 4px -1px hsl(240 4% 60% / 0.10);
  --shadow-lg: 0px 1.5px 3px 0px hsl(240 4% 60% / 0.10), 0px 4px 6px -1px hsl(240 4% 60% / 0.10);
  --shadow-xl: 0px 1.5px 3px 0px hsl(240 4% 60% / 0.10), 0px 8px 10px -1px hsl(240 4% 60% / 0.10);
  --shadow-2xl: 0px 1.5px 3px 0px hsl(240 4% 60% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: 30 11.1111% 10.5882%;
  --foreground: 214.2857 31.8182% 91.3725%;
  --card: 25.7143 8.6420% 15.8824%;
  --card-foreground: 214.2857 31.8182% 91.3725%;
  --popover: 25.7143 8.6420% 15.8824%;
  --popover-foreground: 214.2857 31.8182% 91.3725%;
  --primary: 165.8824 28.1768% 64.5098%;
  --primary-foreground: 30 11.1111% 10.5882%;
  --secondary: 25.7143 6.4220% 21.3725%;
  --secondary-foreground: 216.0000 12.1951% 83.9216%;
  --muted: 30 10.7143% 10.9804%;
  --muted-foreground: 217.8947 10.6145% 64.9020%;
  --accent: 25.7143 5.1095% 26.8627%;
  --accent-foreground: 216.0000 12.1951% 83.9216%;
  --destructive: 0 84.2365% 60.1961%;
  --destructive-foreground: 30 11.1111% 10.5882%;
  --border: 25.7143 6.4220% 21.3725%;
  --input: 25.7143 6.4220% 21.3725%;
  --ring: 234.4538 89.4737% 73.9216%;
  --chart-1: 234.4538 89.4737% 73.9216%;
  --chart-2: 238.7324 83.5294% 66.6667%;
  --chart-3: 243.3962 75.3555% 58.6275%;
  --chart-4: 244.5205 57.9365% 50.5882%;
  --chart-5: 243.6522 54.5024% 41.3725%;
  --sidebar: 25.7143 6.4220% 21.3725%;
  --sidebar-foreground: 214.2857 31.8182% 91.3725%;
  --sidebar-primary: 234.4538 89.4737% 73.9216%;
  --sidebar-primary-foreground: 30 11.1111% 10.5882%;
  --sidebar-accent: 25.7143 5.1095% 26.8627%;
  --sidebar-accent-foreground: 216.0000 12.1951% 83.9216%;
  --sidebar-border: 25.7143 6.4220% 21.3725%;
  --sidebar-ring: 234.4538 89.4737% 73.9216%;
  --font-sans: Plus Jakarta Sans, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Roboto Mono, monospace;
  --radius: 0.625rem;
  --shadow-x: 0px;
  --shadow-y: 1.5px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0px 1.5px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 1.5px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 1.5px 3px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0px 1.5px 3px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 1.5px 3px 0px hsl(0 0% 0% / 0.10), 0px 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 1.5px 3px 0px hsl(0 0% 0% / 0.10), 0px 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 1.5px 3px 0px hsl(0 0% 0% / 0.10), 0px 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 1.5px 3px 0px hsl(0 0% 0% / 0.25);
}


  /* :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  } */
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}